.Carousel {
    /* background-color: grey; */
    width: 100%;
    min-height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.next,
.prev {
    top: calc(50% - 20px);
    position: absolute;
    background: white;
    color: black;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
}
.next {
    right: 10px;
}
.prev {
    left: 10px;
    transform: scale(-1);
}

.Carousel > .QuestionContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90%;
    width: 90vw;
}

.Carousel img {
    max-width: 50%;
}