.SidePanel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--side-panel-width);
    padding-top: var(--navheight);
    background-color: rgb(0, 0, 0);

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    z-index: 50 !important;
}

.SidePanel > * {
    background-color: rgb(0, 0, 0);
    /* box-shadow: -2px -2px 100px inset rgba(255, 255, 255, 0.225); */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    user-select: none;
}
.SidePanel > a {
    font-size: 40px;
    text-decoration: none;
    text-shadow: 0 2px 70px rgb(255, 255, 255);
}
.SidePanel > a:hover {
    font-size: 50px;
}