@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Manrope:wght@200;300&family=Rubik&display=swap');

:root {
  --navheight: 60px;
  --main-bg: #f2f2f2;
  --main-txt:  #1b1b1b;
  --alternate-font: 'Kanit', sans-serif;
  --alternate-font2: 'Rubik', sans-serif;
  --main-font: 'Manrope', sans-serif;
  --large-font-sz: 60px;
  --medium-font-sz: 30px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--main-bg);
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

.landing {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  color: var(--main-txt);
}
.landing h1 {
  font-size: var(--large-font-sz);
  font-family: var(--main-font);
  text-align: center;
  margin-bottom: 20px;
}

.landing > blockquote {
  width: 200px;
  height: 50px;
  overflow: hidden;
  /* background-color: red; */
}
.landing > blockquote > div {
  display: flex;
  flex-direction: row;
  width: max-content;
  /* background-color: red; */
}
.landing > blockquote > div > p {
  font-size: 18px;
  text-align: center;
  font-family: var(--alternate-font);

  /* background-color: rgba(0, 128, 0, 0.136); */
  margin-right: 0;
  width: max-content;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.landing > blockquote > div > p > span {
  margin-right: 20px;
}


.mid {
  display: flex;
  flex-direction: row;
}

.mid > section {
  width: 100%;
  min-height: 60vh;
}
.mid > section:first-child {
  background-color: red;
}

.mid > section:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .mid {
    display: flex;
    flex-direction: column;
  }
}
